:root {
    --gallery-color: var(--card-bg-color);
}

#gallery-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: var(--gallery-color);
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#image-list-wrapper{
    max-height: 80vh;
    padding: 10px;
    overflow: auto;
    background-color: var(--gallery-color);
}
.gallery-image {
    width: 100%;
    gap: 50;
    object-fit: contain;
}
.image-text {
    position: relative; 
    bottom: 2rem; 
    background: rgba(0.5, 0.5, 0.5, 0.5); /* Black see-through */
    width: auto;
    color: white;
    font-size: 16px;
    text-align: center;
}


.gallery-button {
    position: absolute;
    z-index: 2;
    color: var(--secondary-text-color);
    padding: 10px;
    font-weight: bold;
    background: none;
    border: none;
}
.gallery-button:hover {
    background: var(--gallery-color);
}