:root {
    --fake-background-color: #464646;
}

#fake-model {
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-image: url("../../assets/model.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
}