:root {
  --card-bg-color: #1a1a1aff;
  --primary-bg-color: #161b27;
  --secondary-bg-color: #0f121aff;
  --primary-button-color: #ff7033ff;
  --primary-text-color: #fffff3ff;
  --secondary-text-color: #00d9c0ff;
  --warning-color: #fb4d3dff;
  --butter-white: #f6e2b9;
}
#root, body, #app-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn{
  border:none;
}

.btn-primary{
  background-color: var(--primary-button-color);
  color: var(--primary-text-color);
}

.form-label{
  color: var(--primary-text-color);
}

.form-link{
  color: var(--secondary-text-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}